.title {
    margin: 0.25%;
}


.strategy {
    border: 1.5px dashed black;
    border-radius: 1rem;
    margin: .5rem;
    padding: 0.75rem;
}

hr {
    margin: .2rem;
}

.header {
    border-bottom: .75px dashed black;
    display: flex;
}

#editButton {
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 1%;
    padding: 0rem 0.5rem;
}

#deleteButton {
    margin-left: 2%;
    margin-bottom: 1%;
    padding: 0rem 0.5rem;
}


.f {
    display: flex;
    margin-top: -3%;
    margin-left: -1.5%;
    border: 1px solid black;
    width: 105%;
}

.c {
    margin-top: 2%;
    margin-left: 1%;
    height: 90%;
}

.strategyContainer {
margin-top: 2.5%;
width: 105%;
margin-left: -1.25%;
}

.Strategies {
    border: 1px solid gray;
    border-radius: 0.6rem;
    overflow-y: scroll;
    height: 15rem;
}

.stats {
    max-width: 36%;
}

.container {
    width: 100%;
}


.cardBody {
    border: 1.5px dashed black;
    border-radius: 0.75rem;
    margin: .25rem;
    padding: 0.75rem;
    display: flex;
    
}

.graph {
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    width: 67%;
}

.graphBody {
    border: 1.5px dashed black;
    border-radius: 0.75rem;
    margin-right: .5rem;
    padding: 0.75rem;
    
}


.number {
    margin-right: 3%;
    margin-left: auto;
    align-self: center;
}

.number h3 {
    font-weight: bold;
    /* color: white; */
}


::-webkit-scrollbar {
    width: 15px;
  }
  
  
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(135, 131, 131); 
    border-radius: 0.75rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4a4848; 
  }

  .stratagiesheader {
    display: flex;
   flex-wrap: wrap;
  }

  .newstrategybutton {
    margin-left: auto;
    margin-bottom: 1%;
    margin-top: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .stratagiesheader h6 {
    font-size: 1.2rem;
    font-weight: 650;
    padding-top: 0.4rem;
  }