.modal-backdrop {
    z-index: 1040;
}

.modal {
    z-index: 9999;
    background-color:transparent!important;
}
@mixin clearfix() {
    &::after {
      display: block;
      clear: both;
      content: "";
    }
  }

.navbar-toggler {
  margin-left: 11.5%;
  margin-right: 20%;
}