.modal-backdrop {
  z-index: 1040;
}

.modal {
  z-index: 9999;
  background-color: transparent !important;
}

@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

.navbar-toggler {
  margin-left: 11.5%;
  margin-right: 20%;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown:hover {
  background-color: none !important;

}

.navbar-brand {
  margin-left: 1.5%;
}

.user {
  color: white;
}

.brand {
  margin-left: -10%;
}