.col-sm-auto {
    height: 93%;
    display: flex;
}

.text-house {
    color: #1B1D21;
}
.text-clipboard{
    color: #1B1D21;
}
.text-chart {
    color: #1B1D21;
}
.text-people {
    color: #1B1D21;
}
.text-journal {
    color: #1B1D21;
}
.text-gear {
    color: #1B1D21;
}
.text-profile {
    
    color: #1B1D21;
}

ul {
    margin-top: 25%;
}